In [183]:
import pandas as pd
from pandas import to_datetime
import matplotlib.pyplot as plt
from fbprophet import Prophet
import datetime
import numpy as np

In [112]:
all_df = pd.read_json('https://retail-sales-data.herokuapp.com/alldata')

In [145]:
all_df.head()

,DOB,Gender,Item,Qty,Rate,Sale/Return,Store_type,Tax,city,city_code,...,id,prod_cat,prod_cat_code,prod_subcat,prod_subcat_code,state,total_amt,tran_date,transaction_id,zip
0,1981-09-26 00:00:00.000000,M,01-01,-5,-772,R,e-Shop,405.300,San Fransisco,5.0,...,0,Clothing,1,Women,1,California,-4265.300,2014-02,80712190438,94108.0
1,1981-09-26 00:00:00.000000,M,01-01,5,772,S,e-Shop,405.300,San Fransisco,5.0,...,1,Clothing,1,Women,1,California,4265.300,2014-02,80712190438,94108.0
2,1981-08-06 00:00:00.000000,M,01-01,3,1229,S,Flagship store,387.135,Las Vegas,3.0,...,2,Clothing,1,Women,1,Nevada,4074.135,2013-12,18505840838,89107.0
3,1986-10-13 00:00:00.000000,M,01-01,-4,-284,R,Flagship store,119.280,Denver,1.0,...,3,Clothing,1,Women,1,Colorado,-1255.280,2013-08,92814475704,80202.0
4,1986-10-13 00:00:00.000000,M,01-01,4,284,S,Flagship store,119.280,Denver,1.0,...,4,Clothing,1,Women,1,Colorado,1255.280,2013-08,92814475704,80202.0

In [114]:
all_df['tran_date'] = pd.to_datetime(all_df['tran_date'], format='%Y-%m-%d')
all_df['tran_date'] = all_df['tran_date'].dt.strftime('%Y-%m')
all_df.head()

,DOB,Gender,Item,Qty,Rate,Sale/Return,Store_type,Tax,city,city_code,...,id,prod_cat,prod_cat_code,prod_subcat,prod_subcat_code,state,total_amt,tran_date,transaction_id,zip
0,1981-09-26 00:00:00.000000,M,01-01,-5,-772,R,e-Shop,405.300,San Fransisco,5.0,...,0,Clothing,1,Women,1,California,-4265.300,2014-02,80712190438,94108.0
1,1981-09-26 00:00:00.000000,M,01-01,5,772,S,e-Shop,405.300,San Fransisco,5.0,...,1,Clothing,1,Women,1,California,4265.300,2014-02,80712190438,94108.0
2,1981-08-06 00:00:00.000000,M,01-01,3,1229,S,Flagship store,387.135,Las Vegas,3.0,...,2,Clothing,1,Women,1,Nevada,4074.135,2013-12,18505840838,89107.0
3,1986-10-13 00:00:00.000000,M,01-01,-4,-284,R,Flagship store,119.280,Denver,1.0,...,3,Clothing,1,Women,1,Colorado,-1255.280,2013-08,92814475704,80202.0
4,1986-10-13 00:00:00.000000,M,01-01,4,284,S,Flagship store,119.280,Denver,1.0,...,4,Clothing,1,Women,1,Colorado,1255.280,2013-08,92814475704,80202.0

In [158]:
df = all_df[all_df['Store_type'] == 'e-Shop']
df.head()

,DOB,Gender,Item,Qty,Rate,Sale/Return,Store_type,Tax,city,city_code,...,id,prod_cat,prod_cat_code,prod_subcat,prod_subcat_code,state,total_amt,tran_date,transaction_id,zip
0,1981-09-26 00:00:00.000000,M,01-01,-5,-772,R,e-Shop,405.300,San Fransisco,5.0,...,0,Clothing,1,Women,1,California,-4265.300,2014-02,80712190438,94108.0
1,1981-09-26 00:00:00.000000,M,01-01,5,772,S,e-Shop,405.300,San Fransisco,5.0,...,1,Clothing,1,Women,1,California,4265.300,2014-02,80712190438,94108.0
8,1984-07-15 00:00:00.000000,F,01-01,3,1181,S,e-Shop,372.015,Miami,8.0,...,8,Clothing,1,Women,1,Florida,3915.015,2012-12,99335419136,33127.0
10,1971-03-12 00:00:00.000000,M,01-01,2,98,S,e-Shop,20.580,NewYork,6.0,...,10,Clothing,1,Women,1,NewYork,216.580,2012-12,24344788054,10007.0
12,1977-06-27 00:00:00.000000,F,01-01,5,112,S,e-Shop,58.800,NewYork,6.0,...,12,Clothing,1,Women,1,NewYork,618.800,2013-10,33886188672,10007.0

In [161]:
df = df[all_df['total_amt'] > 0]
df = df.loc[:,['tran_date','total_amt']].groupby('tran_date', as_index=False)['total_amt'].sum()
df.head()

C:\Users\dmbor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

  tran_date    total_amt
0   2011-02  1255430.280
1   2011-03  1534258.245
2   2011-05  1352053.690
3   2011-06  1356033.900
4   2011-07  1485306.745

In [188]:
# eshop_df['tran_date'] = to_datetime(eshop_df['tran_date'])
# # eshop_df['tran_date'] = eshop_df['tran_date'].dt.to_period('M')
# eshop_df.head()
# eshop_df['ds'] = eshop_df.index
df.dtypes

ds    datetime64[ns]
y            float64
dtype: object

In [184]:
df.columns=['ds', 'y']
df.head()
# df['ds'] = to_datetime(df['ds'])
model = Prophet()
model.fit(df)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [185]:
import pystan
model_code = 'parameters {real y;} model {y ~ normal(0,1);}'
model = pystan.StanModel(model_code=model_code)  # this will take a minute
y = model.sampling(n_jobs=4).extract()['y']
y.mean()  # should be close to 0

res = model.optimizing()
print(res)  # should have `y` close to 0

INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_5944b02c79788fa0db5b3a93728ca2bf NOW.

TypeError: dist must be a Distribution instance

In [179]:
import distutils
print(distutils.__file__)

C:\Users\dmbor\anaconda3\lib\distutils\__init__.py